// $default-font: 'roboto-example', sans-serif;
$default-font: 'Montserrat Alternates', sans-serif;
// $accent: orange;

$title: #04313f;
$text: #627073;
$green: #71b21d;
$blue: #3b99b5;
$grey: #ecf3f5;
$superGray: #a3c0c7;

$accent: #034052;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$gutter: $grid-gutter-width;
