// $default-font: 'roboto-example', sans-serif;
$default-font: 'Montserrat Alternates', sans-serif;

$accent: #034052;
$title: #04313f;
$text: #627073;
$green: #71b21d;
$blue: #3b99b5;
$grey: #ecf3f5;
$superGray: #a3c0c7;
$white: #fff;

$textGrey: #547f8b;
$lightOrange: #f5eeeb;
$textOrange: #cb7d63;
$lightPink: #f5ebed;
$textPink: #a38088;
$lightYellow: #f5f2eb;
$textYellow: #bfad83;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (
  xxs: 0,
  xs: 375,
  sm: 576px,
  md: 768px,
  lg: 992px,
  // xl: 1200px,
  xl: 1260px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  // xl: 1140px,
  xl: 1220px,
);

$gutter: $grid-gutter-width;
