@import 'vars';
// @import 'fonts';
@import 'libs';

::placeholder {
  color: $text;
}
::selection {
  background-color: $green;
  color: $grey;
}
html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  position: relative;
  min-width: 320px;
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  overflow-x: hidden;
  color: $text;
  transition: background 0.2s ease-in-out;
  input,
  textarea {
    border: $grey 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
  &:hover {
    color: $title;
    text-decoration: none;
  }
}
h1 {
  font-size: 2rem;
  color: $title;
}

h2 {
  color: $title;
  font-weight: 700;
}
h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: $title;
}
p {
  font-size: 0.9rem;
  line-height: 1.4;
}
.form-control {
  border-radius: 0;
}
.border-b {
  border-bottom: 1px solid $grey;
}
.border-t {
  border-top: 1px solid $grey;
}
.mt-gutter {
  margin-top: $gutter;
}
.mb-gutter {
  margin-bottom: $gutter;
}
.mr-gutter {
  margin-right: $gutter;
}
.ml-gutter {
  margin-left: $gutter;
}
.container-840 {
  display: inline-block;
  width: 840px;
}
.pr-60 {
  padding-right: 60px;
}

div.over-scroll {
  flex-wrap: nowrap;
  overflow-x: auto;
  .col {
    min-width: 285px;
  }
}

@import './_layouts/header';
@import './_layouts/main';
@import './_layouts/footer';
@import 'media'; // Always at the end
