.main--serviceDetails {
  .titleBlock__desc {
    margin-bottom: 0;
  }
  .titleBlock__info {
    justify-content: flex-end;
  }
  .details__galery {
    margin-bottom: 45px;
  }
  .reviewItm__text {
    width: 100%;
  }
  aside.right {
    padding: 0;
  }
  .rait--reviews span {
    font-weight: 500;
  }
}
