.main--locations.masonry {
  .moreItm__photo {
    width: auto;
    height: auto;
  }
  .details__galery {
    margin-bottom: 30px;
  }
  .recommendedItm {
    margin-bottom: 20px;
  }
  .recommendedItm__desc h3 {
    font-size: 24px;
    font-weight: 600;
  }
}
