.header {
  // display: flex;
  overflow: hidden;
  &__wrap {
    position: relative;
    margin: 38px 0;
  }
  &__inner {
    position: absolute;
    top: 0;
    right: -25px;
    display: flex;
    align-items: center;
  }
}
.logo {
  display: none;
}
.mainMenu {
  text-align: center;
  &__itm {
    display: inline-block;
    margin: 0 15px;
  }
  a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 16px;
    text-transform: capitalize;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 0;
      height: 2px;
      margin: auto;
      background-color: $accent;
      visibility: hidden;
      transition: all 0.2s ease;
    }
    &.active {
      color: $title;
    }
    &.active,
    &:hover {
      &::before {
        visibility: visible;
        width: 100%;
      }
    }
  }
}

.lenguiges {
  display: inline-block;
  .leng {
    display: inline-block;
    padding-right: 10px;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
  }
}

.mainSocial {
  display: flex;
  &__itm {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    display: block;
    padding: 5px;
  }
  img {
    display: none;
  }
}
