@import '../_components/breadcrumb';
@import './titleBlock';
@import './galleryBlock';
@import './paramBlock';
@import './section-facilities';
@import './section-accommodation';
@import './section-rooms';
@import '../_components/buttons';

.main {
  .breadcrumb--main {
    margin: 40px 0 35px;
  }
  .details__param {
    margin: 32px 0;
  }
}

.rait {
  span {
    color: $title;
  }
  &--reviews {
    font-size: 1.5rem;
    span {
      font-weight: 700;
    }
  }
}

.filter {
  display: flex;
  .form-group + .form-group {
    margin-left: 8px;
  }
  &__first {
    display: flex;
    width: 360px;
  }
  &__second {
    display: flex;
    margin-left: 8px;
    align-items: flex-end;
    flex-grow: 1;
    .form-group {
      width: 50%;
    }
  }
  label {
    font-size: 0.8rem;
    font-weight: 500;
  }
  input {
    padding: 13px;
    font-size: 0.9rem;
    &::placeholder {
      color: $title;
    }
  }
  button {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.reviews {
  padding-top: 35px;
  &__raitWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 25px;
  }
  .btn {
    min-width: 240px;
  }
  &__btn {
    margin-top: 25px;
    margin-bottom: 45px;
  }
}

.progressBar {
  display: flex;
  font-display: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
  &__group {
    width: calc(33.3% - 40px);
    span {
      display: block;
      margin-bottom: 9px;
    }
  }
  .progress {
    height: 0.3rem;
  }
}

.reviewItm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__icon {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $grey;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      color: $textGrey;
    }
    &--orange {
      background-color: $lightOrange;
      span {
        color: $textOrange;
      }
    }
    &--pink {
      background-color: $lightPink;
      span {
        color: $textPink;
      }
    }
    &--yellow {
      background-color: $lightYellow;
      span {
        color: $textYellow;
      }
    }
  }
  &__title {
    margin-left: 15px;
    align-self: center;
    h3,
    p {
      margin: 0;
    }
  }
  &__rait {
    margin: 0 auto;
    align-self: flex-end;
    margin-bottom: 10px;
    li {
      display: inline-block;
      + li {
        margin-left: 30px;
      }
    }
  }
  &__text {
    margin-top: 20px;
    // overflow: hidden;
    // -webkit-box-orient: vertical;
    // display: block;
    // display: -webkit-box;
    // text-overflow: ellipsis;
    // -webkit-line-clamp: 3;
    // span.moreBtn {
    //   display: inline-block;
    //   color: $title;
    //   font-weight: 600;
    // }
  }
  &__desc {
    margin-bottom: 25px;
    strong {
      color: $title;
    }
  }
  + .reviewItm {
    padding-top: 30px;
  }
}

.more {
  padding: 40px;
  &__titel {
    margin-bottom: 20px;
  }
}

.moreItm {
  &__info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    h3 {
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 3px;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.8rem;
  }
  &__rait {
    margin-left: auto;
    font-size: 0.8rem;
  }
  &__price {
    width: 100%;
    span {
      font-weight: 500;
      font-size: 0.8rem;
    }
    ul {
      display: inline-block;
      li + li {
        font-size: 0.8rem;
        &::before {
          padding: 0 3px;
        }
      }
      li:first-child {
        font-weight: 600;
      }
    }
  }
}

.recommended {
  padding: 40px 0;
  &__title {
    margin-bottom: 25px;
  }
}

.recommendedItm {
  &__wrap {
    position: relative;
    display: block;
    cursor: pointer;
    &:hover .recommendedItm__photo {
      background-color: rgba(#3c8297, 0);
    }
  }
  &__photo {
    transition: background 0.2s ease-in-out;
    background-color: rgba(#3c8297, 0.2);
    img {
      position: relative;
      z-index: -1;
    }
  }
  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 22px;
    color: #fff;
  }
  &__desc {
    margin-top: auto;
    width: 100%;
    h3 {
      margin-bottom: 5px;
      color: #fff;
      font-size: 1.3rem;
      font-weight: inherit;
    }
    p {
      margin-bottom: 0;
      opacity: 0.7;
    }
  }
}

/*---------- 10.1_Accomodation_no_book 'page' --------------*/
.titleBlock {
  flex-wrap: wrap;
  &__title {
    width: 60%;
  }
}
.numbersTop {
  width: 100%;
  order: 1;
  margin-top: 20px;
  padding-top: 20px;
  .breadcrumb {
    padding: 0;
  }
  li {
    font-size: 1rem;
    color: $title;
    &::before {
      opacity: 0.5;
    }
    + li::before {
      padding: 0 8px;
    }
  }
}

/*---------- 11_Add_review 'modal' --------------*/
@import './leaveReview';

/*----------- 13_booking 'page' --------------*/
@import './13_booking_process';

/*---------- 15_Services 'page' ---------------*/
@import './15_services';

/*---------- 16_Service_details 'page' ---------------*/
@import './16_service_details';
@import '../_components/bookService';

/*----------- 17_locatios 'page' --------------*/
@import './17_locations';

/*----------- 18_location_details 'page' --------------*/
@import './18_location_details';
