@import '../_components/breadcrumb';
@import './titleBlock';
@import './galleryBlock';
@import './paramBlock';
@import './section-facilities';
@import './section-accommodation';
@import './section-rooms';

.main {
  .breadcrumb--main {
    margin: 40px 0 35px;
  }
  .details__param {
    margin: 32px 0;
  }
}

.filter {
  display: flex;
  .form-group + .form-group {
    margin-left: 8px;
  }
  &__first {
    display: flex;
    width: 360px;
  }
  &__second {
    display: flex;
    margin-left: 8px;
    align-items: flex-end;
    flex-grow: 1;
    .form-group {
      width: 50%;
    }
  }
  label {
    font-size: 0.8rem;
    font-weight: 500;
  }
  input {
    padding: 13px;
    font-size: 0.9rem;
    &::placeholder {
      color: $title;
    }
  }
  button {
    padding: 13px;

    height: 47px;
  }
}
