.paramBlock {
  display: block;
  &__itm {
    display: inline-block;
    height: 82px;
    min-width: 285px;
    background-color: $grey;
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: ;
    padding: 19px 24px;
    height: 100%;
  }
  &__title {
    color: $title;
    font-weight: 700;
  }
  &__count {
    display: inline-block;
    margin-left: auto;
    color: $superGray;
  }
  .breadcrumb {
    color: $title;
    width: 100%;
    padding: 0;
    li + li::before {
      padding: 0 8px;
      color: rgba($title, 0.5);
    }
  }
}
