.paramBlock {
  display: block;
  ul {
    display: flex;
    overflow-x: auto;
  }
  &__itm {
    height: 82px;
    min-width: 285px;
    background-color: $grey;
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px 24px;
    height: 100%;
  }
  &__title {
    color: $title;
    font-weight: 700;
  }
  &__count {
    display: inline-block;
    margin-left: auto;
    color: $superGray;
  }
  .breadcrumb {
    width: 100%;
  }
}
