.titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    h1 {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 12px;
    }
  }
  &__desc {
    display: block;
  }
  &__price {
    text-align: right;
    color: $green;
    li + li::before {
      color: rgba($green, 0.5);
    }
  }
  &__nav {
    text-align: right;
    color: $title;
    font-weight: 600;
    li {
      margin-top: 7px;
      display: inline-block;
      + li {
        margin-left: 50px;
      }
    }
    a {
      display: block;
      padding: 5px 5px 5px 5px;
      img {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
